body { 
  font-family: Arial, sans-serif 
}

#chart_container {
  width: 960px;
}

.swatch {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px 0 0;
}

.label {
  display: inline-block;
}

.line {
  display: inline-block;
  margin: 0 0 0 30px;
}

#legend {
 text-align: center;
}

.rickshaw_graph .detail {
 background: none;
}



