<% include index.html %>
<% include header.html %>
<div class="container">
<div class="row">
<div class="col-md-9">
<h1>API</h1>

<h3>Overview</h3>

The sections below describe how you can send data to the MAB dashboard so that the 
results will be visible on a graph.


<h3>Sender</h3>

<h4>Obtaining a sender id</h4>

Each sender is uniquely identified by an id. Later, when the viewer wants to see data
for a particular sender, they can use this id as part of the url. In order to obtain an id,
make a GET request to <b>http://dp-kpatel.rhcloud.com/get-id</b>.

<div class="panel panel-default">
  <div class="panel-body">
    curl http://dp-kpatel.rhcloud.com/get-id
  </div>
</div>

<h4>Sending a JSON object through a POST request</h4>

Once the id is received, the JSON object (the format is show below) can be submitted to: <b>http://dp-kpatel.rhcloud.com/send</b>. 
The example shown below uses the curl command to send the JSON object (which is stored in the file) to 
the HTTP enpoint mentioned previously.

<div class="panel panel-default">
  <div class="panel-body">
    curl -H 'Content-Type: application/json' -d @data.json http://dp-kpatel.rhcloud.com/send
  </div>
</div>


<h3>Viewer</h3> 
<h4>Viewing the sent data</h4> 

As a viewer, in order to view the data associated with a particular sender, you need need to submit the senders id as part 
of a get parameter. So, to view data sent from a sender with <b>id = l1oFC61K9</b>, you'd go to <b>http://dp-kpatel.rhcloud.com/live?id=l1oFC61K9</b>. 

<h3>Data format</h3>  
The format of the data accepted from the sender is described below.<br/>

<div class="panel panel-default">
  <div class="panel-body">
&nbsp&nbsp{<br/>
  &nbsp&nbsp&nbsp<b>"id"</b>: sender_id,<br/>
  &nbsp&nbsp&nbsp<b>"data"</b>: [{<br/>
  &nbsp&nbsp&nbsp&nbsp <b>"alternative"</b>: name of arm,<br/>
  &nbsp&nbsp&nbsp&nbsp <b>"time"</b>: UTC time,<br/>
  &nbsp&nbsp&nbsp&nbsp <b>"reward"</b>: number between [0,1]<br/>
  &nbsp&nbsp&nbsp&nbsp}]<br/>
&nbsp&nbsp}<br/>
  </div>
</div>

<b>sender_id</b>: This is a value that will be assigned to the sender upon establishing a websocket connection.<br/>

<b>data</b>: An array that contains objects which hold information about the rewards earned for a particular arm at a given timestep.<br/>

<b>alternative</b>: The name of the arm to which the reward is associated.<br/>

<b>time</b>: Describes the time when the given reward was observed.<br/> 

<b>reward</b>: A number between [0,1] which represents the reward earned at a given time step.

</div>
</div>
</div>


