<% include index.html -%>
<% include header.html -%>
<script>
  $(document).ready(function(){
    var fileInitializer = new initializer().fileInitialzer;
    fileInitializer.init();
  });
</script>
<div class="row">
  <div class="col-md-4">
    <div class="mab-filter">
      <div id="mab-panel-filter">
        <% include upload.html -%>
        <% include graph-type.html -%>
        <% include arms.html -%>
        <% include agents.html -%>
        <% include active.html -%>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <a download href="http://cs.mcgill.ca/~kpatel28/dp/data/standard.csv" target="_blank">Here's</a> a link to a sample data file.
    <div class="mab-graph">
      <% include graph-holder.html -%>
    </div>
  </div>
</div>
