<% include index.html -%>
<script>
  $(document).ready(function(){
    var fileInitializer = new initializer().fileInitialzer;
    fileInitializer.init();
  });
</script>
<div class="row">
  <div class="col-md-4">
    <div class="mab-filter">
      <div id="mab-panel-filter">
          <div class="panel panel-default">
            <div class="panel-heading">File</div>
            <div class="panel-body">
              <input type="file" id="file-upload"></input>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading"><b>Type</b></div>
            <div class="panel-body">
              <select id="graph-type">
                <option value="line">Line</option>
                <option value="bar">Bar</option>
              </select>
            </div>
          </div>
          
          <div class="panel panel-default">
	        <div class="panel-heading"><b>Arms</b></div>
            <div class="panel-body">
              <div id="multi-select-arms-holder">No arms available</div>
            </div>
          </div>
 
          <div class="panel panel-default">
            <div class="panel-heading"><b>Agents</b></div>
            <div class="panel-body">
			  <select id="agent">
                <option value="none" selected>None</option>
          	    <option value="UCB1">UCB1</option>
        	  </select>
            </div>
          </div>
  
          
          <!--<div class="panel panel-default">
            <div class="panel-heading"><b>Graphs</b></div>
            <div class="panel-body">
               <select id="graph-type">
                 <option value="mean-ucb" selected>mean+ucb</option>
                 <option value="mean">mean</option>
               </select>
              <input type="radio" name="number-graphs" value="multiple-graphs" class="number-graphs" checked>&nbspMultiple<br/>
              <input type="radio" name="number-graphs" value="single-graphs" class="number-graphs">&nbspSinglel
            </div>
          </div>-->

          <div class="panel panel-default">
            <div class="panel-heading"><b>Active / Inactive</b></div>
            <div class="panel-body">
              <div id="multi-select-au-holder">No arms available</div>
            </div>
          </div>

        </div>
      </div>
    </div>

  <div class="col-md-8">
    <a download href="http://cs.mcgill.ca/~kpatel28/dp/data/standard.csv" target="_blank">Here's</a> a link to a sample data file.
    <div class="mab-graph">
      <div class="panel panel-default" id="mab-panel-graph">
        <div class="panel-heading">MAB Plot</div>
        <div class="panel-body">
          <div id="graph-holder"></div><br/>
          <div id="range-holder"></div>
        </div>
      </div>
    </div>
  </div>
</div>
