<% include index.html -%>
<script>
  $(document).ready(function(){
    var fileInitializer = new initializer().fileInitialzer;
    fileInitializer.init();
  });
</script>
<div class="row">
  <div class="col-md-4">
    <div class="mab-filter">
      <div id="mab-panel-filter">
          <div class="panel panel-default">
            <div class="panel-heading">File</div>
            <div class="panel-body">
              <input type="file" id="file-upload"></input>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading"><b>Type</b></div>
            <div class="panel-body">
              <input type="radio" name="graph-type" value="line" class="graph-type" checked>&nbspLine<br/>
       	      <input type="radio" name="graph-type" value="bar" class="graph-type">&nbspBar<br/>
            </div>
          </div>
          
          <div class="panel panel-default">
	        <div class="panel-heading"><b>Arms</b></div>
            <div class="panel-body">
              <div id="arm-checkboxes-holder">None</div>
            </div>
          </div>
 
          <div class="panel panel-default">
            <div class="panel-heading"><b>Agents</b></div>
            <div class="panel-body">
			  <select id="agent">
                <option vlaue="none">none</option>
          	    <option value="UCB1" selected>UCB1</option>
        	  </select>
            </div>
          </div>
  
          <div class="panel panel-default">
            <div class="panel-heading"><b>Active / Inactive</b></div>
            <div class="panel-body">
              <input id="active-unactive" type="checkbox" name="active" value="active-unactive">&nbspShow
        	  <select id="arm-select-holder"></select>
            </div>
          </div>
 
          <div class="panel panel-default">
            <div class="panel-heading"><b>Graphs</b></div>
            <div class="panel-body">
              <input type="radio" name="number-graphs" value="multiple-graphs" class="number-graphs" checked>&nbspMultiple<br/>
              <input type="radio" name="number-graphs" value="single-graphs" class="number-graphs">&nbspSingle</br>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="col-md-8">
    <div class="mab-graph">
      <div class="panel panel-default" id="mab-panel-graph">
        <div class="panel-heading">File data</div>
        <div class="panel-body">
          <div id="graph-holder"></div><br/>
          <div id="range-holder"></div><br/>
          <div id="legend-holder"></div> 
        </div>
      </div>
    </div>
  </div>
</div>
