<% include index.html -%>
<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/file">MAB Plots</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>
          <a href="/file">File upload</a>
        </li>
        <li>
          <a href="/simulator">Simulator</a>
        </li>
        <li>
          <a href="/live">Live stream</a>
        </li>
        <li>
          <a href="/api">API</a>
        </li>
      </ul>
    </div>
  </div>
</div>
