<!DOCTYPE html>
<html>
<head>
  <title>MAB Viewer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
  <!--<link type="text/css" rel="stylesheet" href="css/bootstrap-theme.min.css"/>-->
  <link type="text/css" rel="stylesheet" href="css/jquery-ui-1.10.4.custom.min.css">
  <link type="text/css" rel="stylesheet" href="css/bootstrap-multiselect.css">
  <link type="text/css" rel="stylesheet" href="css/graph.css"/>
  <link type="text/css" rel="stylesheet" href="css/detail.css"/>
  <link type="text/css" rel="stylesheet" href="css/legend.css"/>
  <link type="text/css" rel="stylesheet" href="css/qunit-1.14.0.css"/>
  <link type="text/css" rel="stylesheet" href="css/app.css"/>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/jquery-1.10.2.js"></script>
  <script src="js/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/bootstrap-multiselect.js"></script>
  <script src="js/d3.v3.js"></script>
  <script src="js/rickshaw.min.js"></script>
  <script src="js/Rickshaw.Graph.RangeSlider.Preview.js"></script>
  <script src="js/qunit-1.14.0.js"></script>
  <script src="js/config.js"></script>
  <script src="js/fileReader.js"></script>
  <script src="js/graphUtil.js"></script>
  <script src="js/dataUtil.js"></script>
  <script src="js/agents.js"></script>
  <script src="js/bandits.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/initializer.js"></script>
  <script src="js/info.js"></script>
  <script src="tests.js"></script>
</head>
<body>
</body>
</html>
