<% include index.html -%>
<script>
  $(document).ready(function(){
    var liveInitializer = new initializer().liveInitializer;
    liveInitializer.init();
  });
</script>
<div class="row">
  <div class="col-md-4">
    <div class="mab-filter">
      <div  id="mab-panel-filter">
            <div class="panel panel-default">
              <div class="panel-heading"><b>Type</b></div>
              <div class="panel-body">
                <input type="radio" name="fu-graph-type" value="line" class="fu-graph-type" checked> Line<br/>
       		    <input type="radio" name="fu-graph-type" value="bar" class="fu-graph-type"> Bar<br/>
              </div>
            </div>
 
            <div class="panel panel-default">
              <div class="panel-heading"><b>Arms</b></div>
              <div class="panel-body">
                <div id="arm-checkboxes-holder">None</div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading"><b>Graphs</b></div>
              <div class="panel-body">
                <input type="radio" name="number-graphs" value="multiple-graphs" class="number-graphs" checked>&nbspMultiple<br/>
                <input type="radio" name="number-graphs" value="single-graphs" class="number-graphs">&nbspSingle</br>
              </div>
            </div>
	      </div>
	    </div>
	</div>
  <div class="col-md-8">
    <p hidden id="sender-id"><%=senderId%></p>
    <div class="mab-graph">
      <div class="panel panel-default" id="mab-panel-graph">
        <div class="panel-heading">Live data</div>
        <div class="panel-body" id="graph-container">
          <div id="graph-holder"></div><br/>
          <div id="range-holder"></div><br/>
          <div id="legend-holder"></div>
        </div>
      </div>
    </div>
  </div>
</div>

