<div class="panel panel-default"> 
  <div class="panel-heading"><b>Alternatives</b></div>
  <div class="panel-body">
    <div id="arms">
      Arm 1:&nbsp
      <select class="multi-select-arms">
        <option value="Bernoulli" selected>Bernoulli</option>
      </select>
      p=<input type="text" value="0.4" size="1"><br/><br/>
      Arm 2:&nbsp
      <select class="multi-select-arms">
        <option value="Bernoulli" selected>Bernoulli</option>
      </select>
      p=<input type="text" value="0.9" size="1"><br/><br/>
      <button type="button" class="btn btn-default btn-sm" id="add-arm">Add</button>
    </div>
  </div>
</div>