<% include index.html -%>
<script>
  $(document).ready(function(){
    var simInitializer = new initializer().simulatorInitializer;
    simInitializer.init();
  });
</script>
<div class="row">
  <div class="col-md-4">
    <div class="mab-filter">
      <div id="mab-panel-filter">
       <!-- <div class="panel-heading">Filters</div> -->
        <div id="mab-panel-filter-body">
            <div class="panel panel-default"> 
              <div class="panel-heading"><b>Arms</b></div>
              <div class="panel-body">
                <div id="arms">
                  Arm 1:&nbsp
                  <select>
                    <option value="Bernoulli" selected>Bernoulli</option>
                  </select>
                  p=<input type="text" value="0.4" size="1"><br/><br/>
                  Arm 2:&nbsp
                  <select>
                    <option value="Bernoulli" selected>Bernoulli</option>
                  </select>
                  p=<input type="text" value="0.9" size="1"><br/><br/>
                  <button type="button" class="btn btn-default btn-sm" id="add-arm">Add</button>
                </div>
              </div>
            </div>
            
            <div class="panel panel-default">
              <div class="panel-heading"><b>Agents</b></div>
              <div class="panel-body">
                <div id="agents">
                  Agent 1:&nbsp
                  <select>
                    <option value="UCB1" selected>UCB1</option>
                    <option value="e-greedy">e-greedy</option>
                    <option value="random">random</option>
                  </select><br/><br/>
                  Agent 2:&nbsp
                  <select >
                    <option value="UCB1">UCB1</option>
                    <option value="e-greedy" selected>e-greedy</option>
                    <option value="random">random</option>
                  </select><br/><br/>
                  <input type="text" placeholder="Agent name..." size="48" id="agent-name"><br/><br/>
                  <textarea class="form-control" id="custom-function" rows="10" cols="4">function functionName(steps, arms){
//Implementation goes here
}
                  </textarea><br/>
                  <button type="button" class="btn btn-default btn-sm" id="add-agent">Add</button>&nbsp
                  <a href="/custom-function-example" target="_blank"><button type="button" class="btn btn-default btn-sm" id="custom-example">Example</button></a>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading"><b>Steps</b></div>
              <div class="panel-body">
                <input id="steps" type="text" value="500" size="1"/>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading"><b>Graphs</b></div>
              <div class="panel-body">
                <input type="radio" name="number-graphs" value="multiple-graphs" class="number-graphs" checked>&nbspMultiple<br/>
             </div>
           </div>
	    </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="mab-graph">
      <div class="panel panel-default" id="mab-panel-graph">
        <div class="panel-heading">Simulator</div>
        <div class="panel-body">
          <div id="graph-holder"></div><br/>
          <div id="range-holder"></div>
        </div>
      </div>
    </div>
  </div>
</div>
