<% include index.html -%>
<script src="js/simulator.js"></script>
<div class="row">
  <div class="col-md-3">
    <div class="mab-filter">
      <div class="panel panel-default" id="mab-panel-filter">
        <div class="panel-heading">Filters</div>
        <div class="panel-body">
	      <div class="table-responsive">
	        <table class="table table-striped">
		      <tbody>
                <tr>
			      <td><b>Arms</b></td>
                </tr>
                <tr>
			      <td>
                    <div id="sim-arms">
                      Arm 1:&nbsp
			          <select>
              	  	    <option value="Bernoulli" selected>Bernoulli</option>
           		      </select>
            	      <input type="text" value="0.1" size="1"><br/><br/>
                      Arm 2:&nbsp
                      <select>
                        <option value="Bernoulli" selected>Bernoulli</option>
                      </select>
                      <input type="text" value="0.9" size="1">
                    </div>
			      </td>
		        </tr>
		        <tr>
			      <td><b>Agents</b></td>
                </tr>
                <tr>
			      <td>
                    <div id="sim-agents">
                      Agent 1:&nbsp
			          <select>
			            <option value="UCB1" selected>UCB1</option>
			            <option value="e-greedy">e-greedy</option>
			            <option value="random">random</option>
			          </select><br/><br/>
                     <!-- Agent 2:&nbsp
                      <select >
                        <option value="UCB1" selected>UCB1</option>
                        <option value="e-greedy">e-greedy</option>
                        <option value="random">random</option>
                      </select> -->
                    </div>
			      </td>
		        </tr>
		        <tr>
			      <td><b>Steps</b></td>
                </tr>
                <tr>
           	      <td>
                    <input id="sim-steps" type="text" value="500" size="1"/>
                  </td>
		        </tr>
		      </tbody>
            </table>
          </div>
	      <div class="pull-right pull-bottom">
            <button type="button" class="btn btn-primary" id="sim-run">Apply</button>
          </div>
	    </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="mab-graph">
      <div class="panel panel-default" id="mab-panel-graph">
        <div class="panel-heading">Simulator</div>
        <div class="panel-body">
          <br/><br/><br/>
          <div id="sim-graph"></div>
          <div id="sim-legend"></div>
        </div>
      </div>
    </div>
  </div>
</div>
