<% include index.html -%>
<% include header.html -%>
<script>
  $(document).ready(function(){
    var simInitializer = new initializer().simulatorInitializer;
    simInitializer.init();
  });
</script>
<div class="row">
  <div class="col-md-4">
    <div class="mab-filter">
      <div id="mab-panel-filter">
        <div id="mab-panel-filter-body">
          <% include sim-display.html -%>  
          <% include sim-arms.html -%>
          <% include sim-agents.html -%>
          <% include steps.html -%>
	      </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="mab-graph">
      <div class="panel panel-default" id="mab-panel-graph">
       <% include graph-holder.html -%>
      </div>
    </div>
  </div>
</div>
