<div class="span2">
  <br/>
  <div class="accordion" id="plots">
    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-parent="#plots" "cursor:default">
          <b>File data</b>
        </p>
      </div>
      <div class="accordion-body">
        <div class="accordion-inner">
          <ul>
            <li>
              <a id="file-bar-plot" href="#">Bar plot</a>
            </li>
            <li>
              <a id="file-line-plot" href="#">Line plot</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-parent="#plots" "cursor:default">
          <b>Live data</b>
        </p>
      </div>
      <div class="accordion-body">
        <div class="accordion-inner">
          Nothing to display here yet
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <p class="accordion-toggle" data-parent="#plots" "cursor:default">
          <b>Simulator</b>
        </p>
      </div>
      <div class="accordion-body">
        <div class="accordion-inner">
          Nothing to display here yet
        </div>
      </div>
    </div>
  </div>
</div>
