body { 
  font-family: Arial, sans-serif 
}

.rickshaw_graph .detail .x_label { display: none }


.rickshaw_graph .detail .item { line-height: 1.4; padding: 0.5em; width:230px;}

.detail_swatch { float: right; display: inline-block; width: 10px; height: 10px; margin: 0px 0px 0 0 }

.rickshaw_graph .detail .date { color: #a0a0a0 }

#legend {
 text-align: center;
}

.rickshaw_graph .detail {
 background: none;
}

.tooltip-inner{
  max-width: 500px;
}
.mab-filter {
  margin-top:auto;
  margin-bottom:auto;
  margin-left:10%;
}

.mab-graph {
  width:95%;
  margin-right:10%;
}

#mab-panel-filter {
  #height: 470px;
  min-height: 470px;
}

#mab-panel-filter-body {
  #height: 90%;
  #overflow: auto;
}

#mab-panel-graph {
  #height: 470px;
}

div[id^="range-holder"] {
  height: 50px;
}

.apply-button {
  position: absolute; bottom: 0; left: 0;
}

.pull-bottom {
  position:absolute;bottom:30px;right:35px;margin:0;padding:5px 3px;
}

textarea {
  resize:vertical;
}
