body { 
  font-family: Arial, sans-serif 
}


.swatch {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px 0 0;
}

.label {
  display: inline-block;
  color: black;
}

.line {
  display: inline-block;
  margin: 0 0 0 30px;
}

#legend {
 text-align: center;
}

.rickshaw_graph .detail {
 background: none;
}

.mab-filter {
  margin-top:auto;
  margin-bottom:auto;
  margin-left:10%;
}

.mab-graph {
  width:95%;
  margin-right:10%;
}

#mab-panel-filter {
}

#mab-panel-graph {
  height: 420px;
}

div[id^="range-holder"] {
  height: 50px;
}

.apply-button {
  position: absolute; bottom: 0; left: 0;
}

.pull-bottom {
  position:absolute;bottom:20px;right:18px;margin:0;padding:5px 3px;
}

