<% include index.html -%>
<script src="js/fileUpload.js"></script>
<div class="row">
  <div class="col-md-3">
    <div class="mab-filter">
      <div class="panel panel-default" id="mab-panel-filter">
        <div class="panel-heading">
		<!--<span class="glyphicon glyphicon-wrench"></span>-->Filters
	</div>
        <div class="panel-body">
		<div class="table-responsive">
		<table class="table">
			<tbody>
  			<tr>
				<td><b>Type</b></td>
				<td><input type="radio" name="fu-graph-type" value="line" class="fu-graph-type" checked> Line<br/>
       				    <input type="radio" name="fu-graph-type" value="bar" class="fu-graph-type"> Bar<br/>
				</td>
			</tr>
			<tr>
				<td><b>Arms</b></td>
				<td><div id="fu-arm-checkboxes-holder">None</div>
				</td>
			</tr>
			<tr>
				<td><b>Agents</b></td>
				<td>
				<select id="fu-agent" class="form-control">
          				<option value="UCB1" selected>UCB1</option>
          				<option value="e-greedy">e-greedy</option>
          				<option value="random">Random</option>
        			</select>
				</td>
			</tr>
			<tr>
				<td><b>Active / InActive</b></td>
				<td><input id="fu-active-unactive" type="checkbox" name="active" value="active-unactive">Show
        				<select class="form-control" id="fu-arm-select-holder"></select>
				</td>
			</tr>
			</tbody>
		</table>
		</div>
		<div class="pull-right"><button type="button" id="fu-run" class="btn btn-primary">Apply</button></div>
	</div>
        </div>    
    </div>
  </div>
  <div class="col-md-9">
    <div class="mab-graph">
      <div class="panel panel-default" id="mab-panel-graph">
        <div class="panel-heading">File data</div>
        <div class="panel-body">
          <input type="file" id="file-upload"/><br/>
          <div id="fu-graph"></div>
          <div id="fu-legend"></div> 
        </div>
      </div>
    </div>
  </div>
</div>
