<% include index.html -%>
<script src="js/simulator.js"></script>
<div class="row">
  <div class="col-md-3">
    <div class="mab-filter">
      <div class="panel panel-default" id="mab-panel-filter">
        <div class="panel-heading">Filters</div>
        <div class="panel-body">
	<div class="table-responsive">
	<table class="table">
		<tbody>
		<div id="sim-arms">
		<!--<tr><b>Arms<br/></b></tr>-->
		<tr>
			<td>Arm 1</td>
			<div class="row">
			<td>
			<select class="form-control">
              			<option value="Bernoulli" selected>Bernoulli</option>
           			</select></td>
            		<td><input type="text" value="0.1" size="1">
			</td>
			</div>
		</tr>
		<tr>
			<td>Arm 2</td>
			<td>
			<select class="form-control">
              			<option value="Bernoulli" selected>Bernoulli</option>
           		</select></td>
			<td>
            		<input type="text" value="0.9" size="1">
			</td>
		</tr></div>
		<div id="sim-agents">
		<!--<tr><b>Agents</b></tr>-->
		<tr>
			<td>Agent 1</td>
			<td>
			<select class="form-control">
			      <option value="UCB1" selected>UCB1</option>
			      <option value="e-greedy">e-greedy</option>
			      <option value="random">random</option>
			</select>
			</td>
		</tr>
		<tr>
			<td>Agent 2</td>
			<td>
			<select class="form-control">
			      <option value="UCB1" selected>UCB1</option>
			      <option value="e-greedy">e-greedy</option>
			      <option value="random">random</option>
			</select>
			</td>
		</tr>
		</div>
		<tr>
			<td><b>Steps</b></td>
            		<td><input id="sim-steps" type="text" value="500" size="1"/></td>
		</tr>
		</tbody></table></div>
	<div class="pull-right"><button type="button" class="btn btn-primary" id="sim-run">Apply</button></div>
	</div></div></div></div>
  <div class="col-md-9">
    <div class="mab-graph">
      <div class="panel panel-default" id="mab-panel-graph">
        <div class="panel-heading">Simulator</div>
        <div class="panel-body">
          <div id="sim-graph"></div>
          <div id="sim-legend"></div>
        </div>
      </div>
    </div>
  </div>
</div>
